<div class="container mt-4">
  <div class="row">
    <div class="row">
      <h2>Property Binding</h2>
      <h3>Hola, mi nombre es {{ name }}</h3>
      <h3>La suma de 10 + 15 es {{ getAdd( 10, 15 )}}</h3>
    </div>
    <div class="row">
      <input 
        type="text" 
        class="form-control" 
        [placeholder]="placeholder"
        [disabled]="disabled">
    </div>
    <div class="row mt-4">
      <img [src]="imgSrc" alt="Img">
    </div>
  </div>
  <div class="row mt-4">
    <h2>Event Binding</h2>
    <p>{{ textButton }}</p>
    <button (click)="changeText()" class="btn btn-outline-primary">Cambiar texto</button>
  </div>
  <div class="row mt-4">
    <h2>Two Way Data Binding</h2>
    <input 
      type="text"
      [(ngModel)]="textNgModel" 
      class="form-control"
      placeholder="Escriba algo aquí">
      <p>{{ textNgModel }}</p>
  </div>
  <div class="row mt-4">
    <h2>Directivas</h2>
    <h3>*ngFor</h3>
    <table *ngIf="viewList" class="table">
      <thead>
        <th>Número</th>
        <th>Nombre</th>
        <th>Estado</th>
      </thead>
      <tbody>
        <ng-container *ngFor="let student of studentsList; let i = index">
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ student.name }}</td>
            <td [ngStyle]="{'font-style': student.state === 'Excelente' ? 'italic' : 'normal'}">{{ student.state }}</td>
          </tr>
        </ng-container>
        <button 
          (click)="deleteList()" 
          *ngIf="showButtonDelete" 
          class="btn btn-outline-danger mt-3">
          Borrar lista
        </button>
        <p *ngIf="studentsList.length === 0" class="alert alert-danger mt-3 w-100 text-center">No hay registros que mostrar</p>
      </tbody>
    </table>
    <hr class="mt-2 mb-2">
    <h3>*ngIf</h3>
    <button (click)="showList()" class="btn btn-outline-primary">Toggle lista</button>
    <hr class="mt-2 mb-2">
    <h3>ngStyle</h3>
    <p>La si el estado es excelente se nos pintará en cursiva (italic)</p>
    <table class="table">
      <ng-container *ngFor="let student of studentsList; let i = index">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ student.name }}</td>
          <td [ngStyle]="{'font-style': student.state === 'Excelente' ? 'italic' : 'normal'}">{{ student.state }}</td>
        </tr>
      </ng-container>
    </table>
    <hr class="mt-2 mb-2">
    <h3>ngClass</h3>
    <p>Solo si el estado es Excelente se pintará en verde, sino en amarillo</p>
    <table class="table">
      <ng-container *ngFor="let student of studentsList; let i = index">
        <tr>
          <td>{{ i + 1 }}</td>
          <td>{{ student.name }}</td>
          <td [ngClass]="student.state === 'Excelente' ? 'badge text-bg-success' : 'badge text-bg-warning'" class="badge text-bg-success">{{ student.state }}</td>
        </tr>
      </ng-container>
    </table>
    <hr class="mt-2 mb-2">
    <h3>ngSwitch</h3>
    <table class="table">
      <ng-container *ngFor="let student of studentsList; let i = index">
        <tr [ngSwitch]="student.state">
          <td>{{ i + 1 }}</td>
          <td>{{ student.name }}</td>
          <td *ngSwitchCase="'Progresa adecuadamente'" class="badge text-bg-danger">{{ student.state }}</td>
          <td *ngSwitchCase="'Notable'" class="badge text-bg-warning">{{ student.state }}</td>
          <td *ngSwitchCase="'Excelente'" class="badge text-bg-success">{{ student.state }}</td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>